.weather {
  height: 100%;
}

.storm {
  height: 100%;
  background-color: #808080;
}
.drizzle {
  height: 100%;
  background-color: #d8d8ff;
}

.rain {
  height: 100%;
  background-color: #4040ff;
}

.snow {
  height: 100%;
  background-color: #fffafa;
}

.atmosphere {
  height: 100%;
  background-color: #ffa8a8;
}

.sun {
  height: 100%;
  background-color: #f9fa57;
}

.cloud {
  height: 100%;
  background-color: #cccccc;
}

.extreme {
  height: 100%;
  background-color: #ff4040;
}

.upcoming-wrapper {
  margin-top: 30px;
  display: inline-flex;
}

.upcoming-text {
  margin-top: 40px;
}
